<<<<<<< HEAD
h1 {
  font-size: 48px;
}

.smaller {
  font-size: 8px;
}

#massive {
  font-size: 70px;
}
=======
h1 {
  font-size: 48px;
}

.smaller {
  font-size: 8px;
}

#massive {
  font-size: 70px;
}
>>>>>>> 047484b (Post Calc Project commit)
