:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #c4bebe21;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html,
body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  padding: 0px 20px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lavender;
  font-family: Arial, sans-serif;
  color: green;
  align-items: center;
  justify-content: space-between;
  border: 1px grey solid;
  box-shadow: 2px 2px 3rem lightgrey;
  padding: 1rem 2rem;
  width: 90%;
  margin: 0 auto;
  gap: 3rem;
  border-radius: 1rem;
}

.navbar-left-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100svw;
  min-height: 100svh;
  margin: 0;
  text-align: center;
  margin-top: 1rem;
}

main {
  padding: 30px 0px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: min-content;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.head-logo {
  width: 10rem;
  height: 10rem;
}

.g2g-nav {
  font-size: 3em;
  text-align: center;
}

.navlogo-gold {
  color: gold;
  text-shadow: 4px -0.5px 8px black;
}

.nav-link {
  border: solid black 1px;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  flex: min-content;
  background-color: white;
  border-radius: 20px;
  color: black;
  width: 0.5rem;
}

.nav-link:hover {
  background-color: rgb(119, 50, 117);
  color: white;
  transition: linear;
  transition-duration: 0.25s;
}

.nav-login-link {
  color: blue;
  font-size: large;
}
.nav-login-link:hover {
  color: rgb(53, 3, 51);
  transition: linear;
  transition-duration: 0.25s;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  color: darkgreen;
}
h2 {
  font-size: 1.5rem;
  color: purple;
}

#footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #e6e6fa;
}

.feature-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  aspect-ratio: 1/1;
  padding: 10px;
  width: 60%;
  max-width: 500px;
  font-size: 1rem;
  box-shadow: 5px 5px 10px gray;
}

.foot-logo {
  grid-column-start: 1;
  grid-row: 1;
  align-self: baseline;
  justify-self: center;
  text-align: center;
}

.foot-logo h1 {
  color: purple;
  font-size: 4rem;
}

.foot-nav {
  text-align: center;
  font-size: 2rem;
}

.foot-nav-bar {
  grid-column-start: 1;
  grid-row: 2;
  align-self: center;
}

.foot-nav-link {
  display: block;
  font-size: 2rem;
}

.contact {
  grid-column-start: 1;
  grid-row: 3;
  align-self: last baseline;
  justify-self: center;
  font-size: 1.5rem;
  text-align: center;
}

.copyright {
  grid-column-start: 1;
  grid-row: 4;
  align-self: center;
  justify-self: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 1px grey solid;
  box-shadow: 2px 2px 3rem lightgrey;
  padding: 1rem 2rem;
  width: 25%;
  margin: 2rem auto;
  border-radius: 1rem;
}

.login-form h1 {
  font-size: large;
}

.submit-wrap {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.login-form button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: lavender;
  font-size: medium;
}

.error {
  color: red;
  font-weight: bold;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 1px grey solid;
  box-shadow: 2px 2px 3rem lightgrey;
  padding: 1rem 2rem;
  width: 25%;
  margin: 2rem auto;
  border-radius: 1rem;
}

.sign-up-form h1 {
  font-size: large;
}

.submit-wrap {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
}

.sign-up-form button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: lavender;
  font-size: medium;
}
