.top-bar {
  display: flex;
  background-color: blue;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  box-shadow: grey 1px 1px 2px;
}

header img {
  width: 100px;
  height: 100px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 30px;
  background-color: white;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: grey 1px 1px 2px;
}

.search-area {
  position: relative;
  display: inline-block;
}

#submit {
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  width: 10em;
}

#search {
  width: 45em;
  height: 2.5em;
  border-radius: 5px;
  text-indent: 40px; /* space for icon */
  border-color: blue;
  box-shadow: grey 1px 1px 2px;
}

#mag-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-52%);
  color: grey;
  font-size: 1.1em;
  pointer-events: none;
}

.stock-details-head {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#add-to-watchlist {
  background-color: blue;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 1.2em;
  border-color: white;
}

#ticker {
  color: white;
  background-color: green;
  text-align: center;
  border: 2px white solid;
  width: 75px;
  border-radius: 50px;
  margin-top: 5px;
}

.stock-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding-bottom: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, #f8f8f8 100%);
}

.price-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
}

#company-name {
  margin-bottom: 0;
}

#error-message {
  display: none;
  padding: 1em;
  background-color: lightcoral;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

main {
  margin: auto 2rem;
  box-shadow: grey 1px 1px 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}

.portfolio-manage {
  background-color: lightgrey;
  padding-left: 2em;
  padding-top: 5px;
  padding-right: 2em;
}

.holdings-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

#shares-owned {
  width: 75%;
  margin-bottom: 2rem;
  box-shadow: grey 1px 1px 2px;
  border-radius: 5px;
  height: 2.5em;
  text-indent: 10px;
}

.curr-holdings {
  display: flex;
  background-color: white;
  border: grey 1px solid;
  border-radius: 10px;
  gap: 1em;
  flex: 1 1 240px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 2rem;
  max-width: 320px;
  box-shadow: grey 1px 1px 2px;
}

.curr-value {
  display: flex;
  background-color: white;
  border: grey 1px solid;
  border-radius: 10px;
  gap: 1em;
  flex: 1 1 240px;
  justify-content: center;
  margin-bottom: 2rem;
  height: 2rem;
  align-items: center;
  max-width: 320px;
  box-shadow: grey 1px 1px 2px;
}

#update-btn {
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  width: 10em;
  box-shadow: grey 1px 1px 2px;
}

.watchlist {
  padding-left: 2em;
}

.watchlist i {
  color: blue;
}

.portfolio-section {
  padding-left: 2em;
  margin-bottom: 3em;
}

.portfolio-section i {
  color: blue;
}

.portfolio-section h2 {
  margin-bottom: 40px;
}

.stonk-ticker {
  color: green;
}

.portfolio-value {
  border: solid 1px grey;
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: grey 1px 1px 2px;
}

.summary {
  display: flex;
  justify-content: center;
  padding: 0 2em;
  gap: 20%;
}

.watchlist h2 {
  margin-bottom: 40px;
}

.watchlist {
  margin-bottom: 3rem;
}

.wl-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.stonk-card {
  box-shadow: grey 1px 1px 2px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.stonk-card:hover {
  transform: translateY(-10px);
  box-shadow: grey 2px 2px 4px;
}

.stonk-card i {
  color: lightcoral;
}

#mag-glass {
  color: grey;
}

.view {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  padding: 1em;
  border-radius: 20px;
  margin-right: 20px;
  transition: all 0.2s linear;
}

.view:hover {
  background-color: blue;
  color: white;
}

.remove {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 1em;
  border-radius: 20px;
  transition: all 0.2s linear;
}

.remove:hover {
  background-color: red;
  color: white;
}

.owned-value {
  border: solid 1px grey;
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: grey 1px 1px 2px;
}

#loading-bar {
  display: flex;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
