/*long hand*/
div {
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}

/*Short hand*/
section {
  border: 5px solid blue;
}

footer {
  border: 5px solid brown;
  /* Used to round the border corners*/
  border-radius: 5px;
}
