:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #c4bebe21;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#root {
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

.add-wrapper {
  border: 1px black solid;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: lightgrey 0 0 10px 5px;
  margin: 0 5%;
  margin-bottom: 2rem;
}

.counter-wrapper {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: lightgrey 0 0 10px 5px;
  margin: 0 5%;
  margin-bottom: 2rem;
}

.count-text {
  font-size: 1rem;
}

.total-count {
  font-size: 1.5rem;
  color: #646cff;
  margin-left: 5px;
}

.clear-btn {
  background-color: red;
  color: white;
}

.add-counter-btn {
  background-color: rgb(33, 88, 240);
  color: white;
  width: 15em;
  height: 3em;
}

.containWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 5%;
}

.card-wrapper {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  flex: 1 1 35%;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: lightgrey 0 0 10px 5px;
}

.btn-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn-cont button {
  flex: 1 1 40%;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: bold;
}

.minus {
  background-color: orange;
  color: white;
}

.plus {
  background-color: green;
  color: white;
}

.reset {
  background-color: grey;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}

.counter-name {
  font-size: 2rem;
  margin: 0;
}

.counter-number {
  font-size: 5rem;
  color: #646cff;
  margin: 0;
  margin-bottom: 0;
}

.number-text {
  font-size: 1.25rem;
  color: black;
  margin-left: 1rem;
  margin-bottom: 0;
}

.create-counter-wrap {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 33%;
}

.create-counter-wrap h2 {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0;
  font-weight: normal;
}

.create-counter-wrap h1 {
  font-size: 2rem;
  font-weight: 500;
}

#increment {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  padding: 0.3rem;
}

#name {
  font-size: 1.5rem;
  padding: 0.3rem;
}

.create-btns {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#create {
  background-color: blue;
  color: white;
}

#cancel {
  background-color: rgb(77, 76, 76);
  color: white;
}

.incr-bubble {
  font-size: small;
  background-color: #2564eb27;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  text-align: center;
  margin: 0 auto 2rem;
  color: #2563eb;
  border-radius: 25px;
}

.no-counters-p {
  color: #85888b;
  margin-bottom: 10em;
}

.no-counters-h2 {
  margin-top: 5em;
}

header h1 {
  margin-top: 2em;
  color: #2563eb;
}

header h2 {
  margin-bottom: 2em;
  color: #5f6469;
}
