<<<<<<< HEAD
/* named colors */

/* Pros: Easy to look up
Cons: Limited Amount
Do you know the names?
Do they translate in other languages? */

h1 {
  color: rebeccapurple;
}

/* Universal way to access colors */

/* Pros: Way wider range
Transparency
Can use a color picker */
h2 {
  /* hex is a string that uses base 16 (0-9, a-z) to calculate color */
  color: #053f04;
  /* can use rgb or hsal as well, but hex is pretty common */
}
=======
/* named colors */

/* Pros: Easy to look up
Cons: Limited Amount
Do you know the names?
Do they translate in other languages? */

h1 {
  color: rebeccapurple;
}

/* Universal way to access colors */

/* Pros: Way wider range
Transparency
Can use a color picker */
h2 {
  /* hex is a string that uses base 16 (0-9, a-z) to calculate color */
  color: #053f04;
  /* can use rgb or hsal as well, but hex is pretty common */
}
>>>>>>> 047484b (Post Calc Project commit)
